/* line 1, main.scss */
body {
  background: #333;
  margin: 0;
  font-family: Lato, sans-serif;
}

/* line 7, main.scss */
a {
  color: #265f8d;
  text-decoration: none;
}
/* line 11, main.scss */
a:hover {
  text-decoration: underline;
}

/* line 18, main.scss */
.info {
  background: #111;
  margin-bottom: 10px;
  overflow: hidden;
}
/* line 23, main.scss */
.info p {
  color: #eee;
  margin: 0 0 0 20px;
  height: 40px;
  line-height: 40px;
  width: 220px;
  padding-right: 40px;
  text-align: right;
  background: url("../images/arrow.png") right center no-repeat;
  float: left;
}

/* line 38, main.scss */
ul#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
/* line 44, main.scss */
ul#gallery li {
  width: 24%;
  margin: 0.5%;
  float: left;
}
/* line 50, main.scss */
ul#gallery a {
  transition: all 0.2s;
  display: block;
  box-shadow: 0 0 20px #222;
}
/* line 54, main.scss */
ul#gallery a:hover {
  -webkit-transform: scale(0.95);
  box-shadow: 0 0 10px #222;
}
/* line 60, main.scss */
ul#gallery img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* line 68, main.scss */
.photo-enter {
  -webkit-transition: all ease-out 0.5s;
  -moz-transition: all ease-out 0.5s;
  -ms-transition: all ease-out 0.5s;
  -o-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
  -webkit-transform: scale(0.8);
  opacity: 0;
}
/* line 77, main.scss */
.photo-enter.photo-enter-active {
  -webkit-transform: scale(1);
  opacity: 1;
}

/* line 85, main.scss */
#bigphoto {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 92, main.scss */
#bigphoto .wrapper {
  width: 500px;
  margin: 0 auto;
  position: relative;
  top: 10%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px #000;
  border-radius: 5px;
}
/* line 103, main.scss */
#bigphoto .wrapper:hover .user {
  opacity: 1;
  -webkit-transform: translateY(0);
}
/* line 107, main.scss */
#bigphoto .wrapper:hover .caption {
  opacity: 0.8;
  -webkit-transform: translateY(0);
}
/* line 114, main.scss */
#bigphoto .inner {
  position: relative;
  overflow: hidden;
}
/* line 119, main.scss */
#bigphoto .caption {
  margin: 0;
  color: #666;
  font-size: 0.9em;
  background: #fff;
  padding: 10px 5%;
  border-radius: 0 0 3px 3px;
  position: absolute;
  width: 90%;
  bottom: 0;
  opacity: 0;
  transition: all 0.4s;
  -webkit-transform: translateY(50px);
}
/* line 134, main.scss */
#bigphoto .close {
  position: absolute;
  right: 30px;
  top: 0;
  display: block;
  background: #333;
  padding: 10px 20px;
  font-size: 2em;
  color: #eee;
  text-decoration: none;
  transition: all 0.2s;
}
/* line 146, main.scss */
#bigphoto .close:hover {
  background: #666;
  padding-top: 20px;
}
/* line 152, main.scss */
#bigphoto img {
  display: block;
  width: 100%;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 159, main.scss */
#bigphoto .user {
  position: absolute;
  z-index: 200;
  top: 10px;
  left: 10px;
  width: 90%;
  opacity: 0;
  transition: all 0.4s;
  -webkit-transform: translateY(-50px);
}
/* line 169, main.scss */
#bigphoto .user img {
  display: block;
  width: 64px;
  height: 64px;
  float: left;
  border-radius: 300px;
  overflow: hidden;
  border: 2px solid #ccc;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
/* line 180, main.scss */
#bigphoto .user h3 {
  float: left;
  margin-left: 15px;
  font-weight: normal;
  letter-spacing: -1px;
  padding: 2px 8px;
  color: #333;
  position: relative;
  background: rgba(255, 255, 255, 0.8);
}
/* line 190, main.scss */
#bigphoto .user h3:before {
  content: '';
  display: block;
  position: absolute;
  left: -12px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 12px solid rgba(255, 255, 255, 0.8);
}

/* line 208, main.scss */
.bigphoto-show, .bigphoto-hide {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 215, main.scss */
.bigphoto-show {
  -webkit-transform: scale(1.2);
  opacity: 0;
}
/* line 219, main.scss */
.bigphoto-show.bigphoto-show-active {
  -webkit-transform: scale(1);
  opacity: 1;
}

/* line 224, main.scss */
.bigphoto-hide {
  -webkit-transform: scale(1);
  opacity: 1;
}
/* line 228, main.scss */
.bigphoto-hide.bigphoto-hide-active {
  -webkit-transform: scale(1.2);
  opacity: 0;
}

/* line 236, main.scss */
.loader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 100;
  background: #fff;
  opacity: 0.9;
  padding: 20px 0;
  font-size: 2em;
  margin: 0;
}

/* line 250, main.scss */
.loader-show, .loader-hide {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 258, main.scss */
.loader-show {
  -webkit-transform: translateY(50px);
  opacity: 0;
}
/* line 262, main.scss */
.loader-show.loader-show-active {
  -webkit-transform: translateY(0);
  opacity: 1;
}

/* line 268, main.scss */
.loader-hide {
  -webkit-transform: translateY(0);
  opacity: 1;
}
/* line 272, main.scss */
.loader-hide.loader-hide-active {
  -webkit-transform: translateY(50px);
  opacity: 0;
}
